@using FurryFriendFinder.Models.Data
@using System.Globalization;
@model FurryFriendFinder.Models.ViewModels.extraPet
@inject FurryFriendFinderDbContext _context
@{
    Layout = "_LayoutPetSitter";
    ViewData["Title"] = "Edit";
    var type = _context.AnimalTypes.ToList();


    // Get the list of vaccines associated with the current pet
    var Vaccine = _context.Vaccines.ToList();
    Vaccine = Vaccine.FindAll(x => x.IdPet == Model.pet.IdPet);
    // Get the list of vaccines associated with the current pet
    var StateHealth = _context.StateHealths.Find(Model.pet.IdStateHealth);
    if (StateHealth != null)
    {
        Model.stateHealth = StateHealth;
    }
    var I1 = 0;
    var I = 0;
    var I2 = 0;
}

<h1>Edit</h1>

<h4>Pet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PetEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pet.IdPet" />
            <input type="hidden" asp-for="pet.PetImage" />
            @if (ViewBag.MessageError != null)
            {
                <p class="text-danger">@ViewBag.MessageError</p>
            }
            <div class="form-group">
               @* Insert image of the pet*@
                <img class="card-img-top w-50 m-2" src="data:image/png;base64,@Convert.ToBase64String(Model.pet.PetImage)" />
                <input type="file" class="form-control" name="PetImagee" accept="image/png, .jpeg, .jpg, image/gif" multiple onclick="SeeImage()" />

            </div>
            <!--fields to edit pet PetName-->
            <div class="form-group">
                <label asp-for="pet.PetName" class="control-label"></label>
                <input asp-for="pet.PetName" class="form-control" required/>
                <span asp-validation-for="pet.PetName" class="text-danger"></span>
            </div>
            <!--fields to edit pet Gender-->
            <div class="form-group">
                <label asp-for="pet.Gender" class="control-label"></label>
                <select asp-for="pet.Gender" class="form-control" asp-items="ViewBag.GenderValues"></select>
            </div>
            <!--fields to edit pet BirthYear-->
            <div class="form-group">
                <label asp-for="pet.BirthYear" class="control-label"></label>
                <input asp-for="pet.BirthYear" class="form-control" required/>
                <span asp-validation-for="pet.BirthYear" class="text-danger"></span>
            </div>
            <!--fields to edit pet IdAnimalType-->
            <div class="form-group">
                <label asp-for="pet.IdAnimalType" class="control-label"></label>
                <select asp-for="pet.IdAnimalType" class="form-control" asp-items="ViewBag.IdAnimalType"></select>
                <span asp-validation-for="pet.IdAnimalType" class="text-danger"></span>
            </div>
            <!--fields to edit pet IdBreed-->
            <div class="form-group">
                <label asp-for="pet.IdBreed" class="control-label"></label>
                <select asp-for="pet.IdBreed" class="form-control" asp-items="ViewBag.IdBreed"></select>
                <span asp-validation-for="pet.IdBreed" class="text-danger"></span>
            </div>
            <!--fields to edit pet information-->
            <div class="form-group">
                <label class="control-label">Castrated</label>
                <select  class="form-control" asp-items="ViewBag.CastratedValues" name="castrated"></select>
            </div>
            <div class="form-group">
                <label asp-for="stateHealth.State" class="control-label"></label>
                <input asp-for="stateHealth.State" class="form-control" required/>
                <span asp-validation-for="stateHealth.State" class="text-danger"></span>
            </div>
            @*Start new rute*@
            <div class="form-group m-2" id="ListVaccine">
                    @foreach (var acs in Vaccine)
                    {
                        I2++;
                    <div id="Vaccine@(I2)">
                            @if (I2 == 1)
                            {
                            <hr />
                            }
                        <span>TypeVaccine</span>
                        <input type="text" name="Vaccine" class="form-control" value="@(acs.TypeVaccine)" required>
                        <span>VaccinationDate</span>
                        @if (acs.VaccinationDate != null)
                        {<input type="datetime-local" name="VaccinationDate" class="form-control" value="@(Convert.ToDateTime(acs.VaccinationDate).ToString("yyyy-MM-ddTHH:mm"))" required>
                        }else{
                         <input type="datetime-local" name="VaccinationDate" class="form-control"  required>
                         }

                        <input type="button" id="BAc@(I2)" Value="Delete Vaccine" class="btn btn-danger m-3">
                        <hr>
                    </div>
                    <script>
                        createVaccineFunction(@I2);
                        // Function to create the vaccine elimination function with identifier n
                        function createVaccineFunction(n) {

                            const b = document.getElementById('BAc' + n);
                            if (b != null) {
                                b.addEventListener("click", function () {
                                    const p = document.getElementById('vaccine' + n);
                                    // Creating a new div_vaccine element
                                    const div_vaccine = document.createElement('div');
                                    // Add element p to div_vaccine
                                    div_vaccine.appendChild(p);
                                    console.log(div_vaccine);
                                });
                            }
                        }

                    </script>
                    }

                    @*End the new rute*@

                <input type="button" id="NewVaccine" value="New Vaccine" class="btn btn-success m-2">

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Pets">Back to List</a>
</div>

@section Scripts {

    <script>

        // Assign variable values from backend
        var i1 = @I1;
        var i2 = @I2;
        var i = @I;
        // If obtiene el botón "NewVaccine" por su id
        <!--Form to generate the adoption certificate-- >
        const btn_agregarVaccine = document.getElementById('NewVaccine');
        //Add an event click the NewVaccine button
        btn_agregarVaccine.addEventListener("click", function () {
            i2++;
            // A new div is created to contain the elements of each vaccine
            const div_Paddress = document.getElementById('ListVaccine');
            //Create the div that contains the two sub-divs.
            const div_principal = document.createElement('div');
            //Create the div for the span and input of the name.
            const div_Vaccine = document.createElement('div');
            div_Vaccine.id = 'Vaccine' + i2;
            //Create the div for the span and input of the last name.
            ///Create the spans for the first name and last name.
            const span1_Vaccine = document.createElement('span');
            span1_Vaccine.innerHTML = 'TypeVaccine';

            const input1_Vaccine = document.createElement('input');
            input1_Vaccine.type = 'text';
            input1_Vaccine.name = 'Vaccine';
            input1_Vaccine.className = 'form-control';

        @*Date*@

            // A new "datetime-local" input is created to enter the vaccination date
            const span2_Vaccine = document.createElement('span');
            span2_Vaccine.innerHTML = 'VaccinationDate';

            const input2_Vaccine = document.createElement('input');
            input2_Vaccine.type = 'datetime-local';
            input2_Vaccine.id = 'VaccinationDate' + i2;
            input2_Vaccine.name = 'VaccinationDate';

            input2_Vaccine.className = 'form-control ';
            input2_Vaccine.required = "true";
          
                const Button_Vaccine = document.createElement('input');
                Button_Vaccine.id = 'BAd' + i2;
                Button_Vaccine.type = 'button';
                Button_Vaccine.value = 'Delete Vaccine';
                Button_Vaccine.className = 'btn btn-danger m-3';
          
                const hr1_Vaccine = document.createElement('hr');
                const hr_Vaccine = document.createElement('hr');
            // If it is the first vaccine, a horizontal line is added before the vaccine

                if (i2 == 1) {
                    div_Vaccine.appendChild(hr1_Vaccine);
                }
                div_Vaccine.appendChild(span1_Vaccine);
                div_Vaccine.appendChild(input1_Vaccine);
          
                div_Vaccine.appendChild(span2_Vaccine);
                div_Vaccine.appendChild(input2_Vaccine);

                div_Vaccine.appendChild(Button_Vaccine);
                div_Vaccine.appendChild(hr_Vaccine);

                div_Paddress.appendChild(div_Vaccine);
          
                createVaccineFunction(i2);

            });
        // Function to handle the event click of the vaccine removal button
            function createVaccineFunction(n) {

                const b = document.getElementById('BAd' + n);
                if (b != null) {
                    b.addEventListener("click", function () {
                        const p = document.getElementById('Vaccine' + n);

                        const div_access = document.createElement('div');

                        div_access.appendChild(p);
                        console.log(div_access);
                    });
                }
            }


    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
