@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}


<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="card text-center" style="width: 600px;">
        <div class="card-header h5 text-white bg-primary">Cambio de contraseña</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Restablesca su contraseña de acuerdo a los elementos enviados a su correo, en caso de no recibir
                la confirmacion, vuelva a enviar la solicitud verificando el correo ingresado.
            </p>

            <form asp-controller="Login" asp-action="PasswordRecovery" method="post">
                <div class="form-outline">
                <label class="form-label">Codigo encriptado</label>
                <input type="password" class="form-control" id="encrypt" name="encrypt">
                </div>
                <div class="form-outline">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-outline">
                    <label  class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirmation" name="confirmation">
                </div>
                @if(TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }
                </br>
                <div class="form-group m-3">
                <input type="submit" value="Restablecer contraseña" class="btn btn-primary" />
                </div>
            </form>
        
            <div class="d-flex justify-content-between mt-4">
                <a class="" asp-action="Login" asp-controller="Login">Back to Login</a>
            </div>
        </div>
    </div>
</section>
