@{

    Layout = "_LayoutCenterAdmin";
}

<div class="row justify-content-center justify-content-md-start4">   
    <div class="row">
        <div class="col">
            <div class="text-center">
                <p class="h1">Generate record of movements</p>
            </div>
            <form method="post" asp-controller="CenterAdmin" asp-action="PrintMovement" class="m-3">
                <div class="text-center">
                    <label class="d-block " for="first">Initial date:</label>
                    <input class="d-block mx-auto" type="datetime-local" id="first" name="first">
        
                    <label class="d-block" for="last">Final date:</label>
                    <input class="d-block mx-auto" type="datetime-local" id="last" name="last">
                    <br>
                </div>
                <div class="text-center">
                    <button type="submit" id="printMovement" class="btn btn-primary active m-3">Print Movements</button>
                </div>
            
            </form>
        </div>

        <div class="col">
            <div class="text-center">
                <p class="h1">Generate adoption record</p>
            </div>
            <form method="post" asp-controller="CenterAdmin" asp-action="PrintAdoption" class="m-3">
                 <div class="text-center">
                    <label class="d-block" for="first">Initial date:</label>
                    <input class="d-block mx-auto" type="datetime-local" id="first" name="first">

                    <label class="d-block" for="last">Final date:</label>
                    <input class="d-block mx-auto" type="datetime-local" id="last" name="last">
                    <br>
                 </div>
                <div class="text-center">
                    <button type="submit" id="printAdoption" class="btn btn-primary active m-3">Print Adoptions</button> 
                </div>
            </form>
        </div>
    </div>
</div>
